.portfolio
  .masonry-grid--portfolio
    @extend %masonry-grid-shared

  .masonry-grid__item--small
    @extend %mosonry-grid__item
    grid-column: span 3
    grid-row: span 3

  .masonry-grid__item--medium
    @extend %mosonry-grid__item
    grid-column: span 3
    grid-row: span 4

  .masonry-grid__item--large
    @extend %mosonry-grid__item
    grid-column: span 3
    grid-row: span 5



  














