.port-wrp
  padding: 0 30px

.port-card
  a
    .port-card-image
      background-image: url('../images/jadore-la-france-thumb.jpg')
      background-repeat: no-repeat
      background-size: cover
      height: 190px
      width: 100%

    &:hover, &:focus
      text-decoration: none
    h2
    .port-card-title
