$fc: #6C7A89
$fcw: #fff
$bg: #F5F7FA
$dark-gray: #333030
$red: #E82C0C

$screen-lg-min: 1200px
$screen-md-min: 992px
$screen-sm-min: 768px
$screen-collapse-min: 832px

%masonry-grid-shared
  display: grid
  grid-template-columns: repeat(6, 1fr) 
  grid-template-rows: repeat(9, 100px)
  grid-gap: 20px
  min-height: 100vh

%mosonry-grid__item
  background-color: white
  text-align: center
  position: relative
  overflow: hidden
  .masonry-grid__link
    height: 100%
    position: relative
    display: block
  img
    width: 100%
    display: block
  .masonry-grid__overlay
    position: absolute
    display: block
    top: 0
    bottom: 0
    left: 0
    right: 0
    height: 100%
    width: 100%
    background-color: rgba(0,0,0,0)
    transition: .8s ease
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    color: rgba(255,255,255,0)
    &:hover 
      background-color: rgba(108, 122, 137, .7)
      color: rgba(255,255,255,1)
    .masonry-grid__overlay-title
      font-size: 30px
      font-weight: 500
      margin: 0
    .masonry-grid__overlay-subtitle
      font-size: 18px
      font-weight: 400

