@import variables
@import navigation
@import footer
@import home
@import portfolio
@import about
@import contact


html
  line-height: 1.5
body
  color: $fc
  background-color: $bg
  font-family: 'Roboto Mono', monospace
#main
  background-color: #ecf1f1
  background-image: url('../images/overlay-texture.png')
  margin-left: 20%
  padding: 30px

@media screen and (max-width: $screen-sm-min)
  #main
    margin-left: 0
